@use "../mobile/login-page-mobile";
@use "../../components/typography";
@use "../../abstracts/mixins";
@use "../../abstracts/variables";

/* Desktop Style for Login Page:
==============================================================================================*/
@media only screen and (min-width: 700px) {
    .login-container{
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: 1f 2f;
        grid-template-rows: 1f 2f;
        grid-template-areas:"header header"
                            "mright mleft";
        justify-content: center;
        align-items: center;
        grid-auto-rows: 50%;
    
        .login-page-header{
            grid-area: header;
            justify-self:start;
            align-self: start;
            grid-auto-rows: 60%;
    
            .login-page-logo-div{
                @include mixins.flex-row();
                //background-color: #9E4151;
    
                .logo-page-logo-olimpo-img{
                    transform: scaleX(1.03);
                    width: 4.5em;
                    height: 4.5em;
                }
            }
        }
    
        .login-page-section-left{
            grid-area: mleft;
            @include mixins.flex-column;
            @include mixins.flex-center;
            grid-auto-rows: 60%;
            row-gap: 2.5em;

            .login-page-div-image-girl{
                //margin-bottom: 1em;
                @include mixins.flex-column();
                @include mixins.flex-center();
    
                .login-page-sticker{
                    width: 50%;
                    height: 50%;
                }
            }
        }
    
        .login-page-section-right{
            grid-area: mright;
            @include mixins.flex-column;
            @include mixins.flex-center;
            grid-auto-rows: 60%;
        }
    }
}

