@use "../mobile/start-page-mobile";
@use "../../components/typography";
@use "../../abstracts/mixins";
@use "../../abstracts/variables";

/* Desktop Style for Start Page:
==============================================================================================*/
@media only screen and (min-width: 700px) {
    .start-page-container{
        .start-page-main{
            .start-page-main-section2{
                .start-page-main-section2-article2{
                    height: 30em;
                    @include mixins.flex-row();
                    @include mixins.flex-center();
                    flex-wrap: nowrap;
    
                    .start-page-main-section2-article1-div1{
                        width: 40%;
    
                        .figure-sidebyside{
                            width: 85%;
                        }
                    }
    
                    .start-page-main-section2-article1-div2{
                        width: 60%;
    
                        .start-page-main-section2-article1-div2-p{
                            width: 80%;
                        }
                    }
                }
            }
    
            .start-page-main-section3{
                .start-page-main-section3-article2{
                    grid-template-columns: 1f 1f 1f;
                    grid-row: 1f;
                    grid-template-areas:"thirdcard firstcard secondcard";
                    column-gap: 3em;
                    width: 100%;

                    .start-page-profile-card1, .start-page-profile-card2, .start-page-profile-card3{
                        width: 100%;
                        margin-top: 1em;
                    }
                }
            }
    
            .start-page-main-section4{
                div{
                    @include mixins.flex-row();
                    @include mixins.flex-center();
    
                    .start-page-main-section4-figure{
                        @include mixins.flex-column();
                        @include mixins.flex-center();
                        text-align: center;
                        width: 100%;
                        height: auto;
    
                        .start-page-main-section4-figure-img{
                            width: 23em;
                            height: 23em;                        
                        }
                    }
                }
            }
        }
    }
}