/* Importing Components Styles (Visible only on Scss Files):
==============================================================================================*/
    @use "components/reset";
    @use "components/typography";

/* Importing Abstracts Styles (Visible only on Scss Files):
==============================================================================================*/
    @use "abstracts/mixins";
    @use "abstracts/variables";

/* Importing Core Styles (Visible only on Scss Files):
==============================================================================================*/
    @use "core/animations";
    @use "core/buttons";
    @use "core/slider";
    @use "core/popup-contact-form";

/* Importing Layout Styles (Visible only on Scss Files):
==============================================================================================*/
    @use "layout/header";    
    @use "layout/footer";

/* Importing Pages Styles (Visible only on Scss Files):
==============================================================================================*/
    @use "pages/desktop/start-page";
    @use "pages/desktop/login-page";
    @use "pages/desktop/olimpo-solidario";
    @use "pages/desktop/contato-page";

/* Importing Sections Styles (Visible only on Scss Files):
==============================================================================================*/
    @use "sections/cards";

/* Importing Fonts:
==============================================================================================*/
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Noto+Sans:wght@400;500&display=swap');


/* Common Styles:
==============================================================================================*/
    html{
        scroll-behavior: smooth;
    }    

    body{
        //background-color: variables.$body-color;
        background-color: var(--body-color);

        font: typography.$noto-sans-16;
        font-weight: 400;
        color: var(--text-color);

        height: 100%;

        margin: 0;
        padding: 0;
    }

    .hide-content{
        display: none;
        width: 0;
        height: 0;
    }