@use "../../components/typography";
@use "../../abstracts/mixins";
@use "../../abstracts/variables";

/* Mobile Style for Contato Page:
==============================================================================================*/
    .contato-container{
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: 1f;
        grid-template-rows: 1f 1f 1f;
        grid-template-areas:"callheader"
                            "callmain"
                            "callfooter";
        justify-content: center;
        align-content: center;
        gap: 1em;

        .contato-header{
            grid-area: callheader;
            @include mixins.flex-row();
            justify-self: center;
            align-self: center;

            .contato-header-div{
                @include mixins.flex-row();
                @include mixins.flex-center();
                gap: 0.5em;
                padding: 0.3em;
                cursor: pointer;

                .contato-header-div-img{
                    transform: scale(1.15, 1.09);
                }

                .header-img{
                    width: 4em;
                    height: 4em;
                }

                .contato-header-div-olimpo-logomarca{
                    @include mixins.flex-row;
                    @include mixins.flex-center;
                    font: typography.$montserrat-40;
                    font-weight: 550;
                }
            }
        }
    }
