$noto-sans-12: 0.9em 'Noto Sans', sans-serif;
$noto-sans-16: 1em 'Noto Sans', sans-serif;

$montserrat-40: 1.5rem 'Montserrat', sans-serif;
$montserrat-75: 2.7rem 'Montserrat', sans-serif;

$light-theme-font-color: #ffffff;
$dark-theme-font-color: #000000;