@use "../abstracts/mixins";
@use "../abstracts/variables" as *;
@use "../components/typography";

.popup{
    width: 70%;
    height: auto;
    padding: 1.5em;
    background-color: var(--div-color);
    border-radius: 1.2em;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    position: fixed;
    top: 25%;
    margin: 0 auto;
    @include mixins.flex-column();
    @include mixins.flex-center();

    #verificado {
        text-align: center;
        font-size: 2.5em;
        color: #34f234;
    }

    .thankYouForSubmit-h3{
        font-weight: bold;
    }

    .thankYouForSubmit-btn{
        width: 7em;
        height: 2.9em;
        border-radius: 0.8rem;
        background-color: var(--div-color-special-two);
        font: typography.$noto-sans-12;
        border: none;
        color: var(--text-color);
        cursor: pointer;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
        border: 2px solid var(--div-color-special-two);
        //text-transform: uppercase;
        transition: all 300ms ease-in-out;

        .close-icon{
            font-size: small;
            font-weight: light;
            text-align: center;
        }
    }

    .thankYouForSubmit-btn:hover{
        color: var(--text-color);
        background-color: var(--div-color);
    }
}

.popup.active{
    transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
}

.blur{
    filter:blur(5px);
}

.thankYouForSubmit{
    height: 100%;
    @include mixins.flex-row();
    @include mixins.flex-center();
}    