/*Colors:
====================================================================*/
$light-theme-first-bg-color: #FFFFFF;
$light-theme-second-bg-color: #F7F7F7;

$light-theme-primary-color-light-green: #49EAC3;
$light-theme-primary-color-dark-blue: #233144;
$light-theme-primary-color-black: #000000;

$light-theme-secondary-color-red: #9E4151;
$light-theme-secundary-color-brown: #9E6421;
$light-theme-secundary-color-yellow: #EB9431;
$light-theme-secundary-color-light-blue: #37CFD4;
$light-theme-secundary-color-light-green: #91EED7;