/* Importing Components Styles (Visible only on Scss Files):
==============================================================================================*/
/* Importing Abstracts Styles (Visible only on Scss Files):
==============================================================================================*/
/* Importing Core Styles (Visible only on Scss Files):
==============================================================================================*/
/* Importing Layout Styles (Visible only on Scss Files):
==============================================================================================*/
/* Importing Pages Styles (Visible only on Scss Files):
==============================================================================================*/
/* Importing Sections Styles (Visible only on Scss Files):
==============================================================================================*/
/* Importing Fonts:
==============================================================================================*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Noto+Sans:wght@400;500&display=swap");
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*Colors:
====================================================================*/
/* Loader Animation:
=========================================================================================*/
.scroll-block {
  overflow: hidden;
}

#loader-background {
  background-color: #F7F7F7;
}

.loader-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 115;
}
.loader-wrapper #loader-img {
  position: relative;
  top: 0;
  left: 0;
  width: 15em;
  height: 15em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.loader-wrapper .balls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  height: 10%;
}
.loader-wrapper .ball {
  position: relative;
  top: 2.5em;
  left: 0;
  width: 0;
  height: 0;
  border-radius: 0.688em;
  margin: 0 0.5em;
  border: none;
  -webkit-animation: 0.6s bounce infinite alternate;
          animation: 0.6s bounce infinite alternate;
  transform: translate3d(0.8);
}
.loader-wrapper .second-ball {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.loader-wrapper .third-ball {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
@-webkit-keyframes bounce {
  to {
    width: 1.375em;
    height: 1.375em;
    transform: translate3d(0, 1em, 0);
  }
}
@keyframes bounce {
  to {
    width: 1.375em;
    height: 1.375em;
    transform: translate3d(0, 1em, 0);
  }
}

/* Start Page - Down Button Animation:
=========================================================================================*/
.start-page-main .start-page-main-section .start-page-main-section-figure div i {
  -webkit-animation: updown 2s ease infinite;
          animation: updown 2s ease infinite;
}
@-webkit-keyframes updown {
  0% {
    transform: translateY(-19%);
  }
  50% {
    transform: translateY(19%);
  }
  100% {
    transform: translateY(-19%);
  }
}
@keyframes updown {
  0% {
    transform: translateY(-19%);
  }
  50% {
    transform: translateY(19%);
  }
  100% {
    transform: translateY(-19%);
  }
}

/* Theme Button:
=======================================================================*/
.persistent-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: fixed;
  z-index: 100;
  right: 0.9em;
  bottom: 0.9em;
}
.persistent-btn #theme-btn {
  width: 4em;
  height: 4em;
  border-radius: 2em;
  text-align: center;
  border: none;
  background-color: #f7f7f7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.persistent-btn #theme-btn #theme {
  font-size: 2.6em;
}

/*
::-webkit-scrollbar{
    width: 0.5em;
    scroll-behavior: smooth;
}

::-webkit-scrollbar-track{
    background-color: variables.$light-theme-second-bg-color;
    padding: 0.5em;
}

::-webkit-scrollbar-thumb{
    background-color: variables.$light-theme-primary-color-dark-blue;
    border-radius: 1.2em;
    height: 30%;
    //margin: 0.01em;
}
*/
.popup {
  width: 70%;
  height: auto;
  padding: 1.5em;
  background-color: #f5f5f5;
  border-radius: 1.2em;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  position: fixed;
  top: 25%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.popup #verificado {
  text-align: center;
  font-size: 2.5em;
  color: #34f234;
}
.popup .thankYouForSubmit-h3 {
  font-weight: bold;
}
.popup .thankYouForSubmit-btn {
  width: 7em;
  height: 2.9em;
  border-radius: 0.8rem;
  background-color: #233144;
  font: 0.9em "Noto Sans", sans-serif;
  border: none;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border: 2px solid #233144;
  transition: all 300ms ease-in-out;
}
.popup .thankYouForSubmit-btn .close-icon {
  font-size: small;
  font-weight: light;
  text-align: center;
}
.popup .thankYouForSubmit-btn:hover {
  color: #111;
  background-color: #f5f5f5;
}

.popup.active {
  transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
}

.blur {
  filter: blur(5px);
}

.thankYouForSubmit {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: #34f234;
}

/* Mobile Start Page Header:
====================================================================*/
.start-page-header {
  grid-area: startheader;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 95%;
  background-color: #F7F7F7;
  border-radius: 1.2em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  justify-self: center;
  align-self: center;
  margin-top: 1.2em;
}
.start-page-header .start-page-header-nav {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 5em;
  justify-content: flex-start;
  align-items: center;
  padding: 2em;
}
.start-page-header .start-page-header-nav .hamburguer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.start-page-header .start-page-header-nav .start-page-header-nav-ul {
  display: none;
}
.start-page-header .start-page-header-nav .start-page-header-nav-ul .start-page-header-nav-ul-li .start-page-header-nav-ul-li-a {
  text-decoration: none;
  color: #000000;
}
.start-page-header .start-page-header-div1 {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 5em;
  justify-content: flex-end;
  align-items: center;
  padding: 2em;
}
.start-page-header .start-page-header-div1 .start-page-header-div1-button {
  width: 6.5em;
  height: 3.5em;
  border-radius: 1.8rem;
  background-color: #233144;
  font: 0.9em "Noto Sans", sans-serif;
  font-weight: bold;
  border: none;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

/* Desktop Start Page Header:
====================================================================*/
@media only screen and (min-width: 700px) {
  .start-page-header .start-page-header-nav {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 5em;
    justify-items: flex-start;
    align-items: center;
  }
  .start-page-header .start-page-header-nav #start-page-header-menu-hamburguer {
    display: none;
  }
  .start-page-header .start-page-header-nav .start-page-header-nav-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1.3em;
    text-transform: uppercase;
  }
  .start-page-header .start-page-header-div1 .start-page-header-div1-button {
    width: 6.5em;
  }
}
/*Start page & Contato & Olimpo Solidario footer:
====================================================================*/
.start-page-footer, .olimpo-solidario-footer, .contato-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  height: 100%;
  border-radius: 1.2em;
  margin-top: 1em;
  row-gap: 1em;
}
.start-page-footer .start-page-footer-article, .start-page-footer .olimpo-solidario-footer-article, .start-page-footer .contato-footer-article, .olimpo-solidario-footer .start-page-footer-article, .olimpo-solidario-footer .olimpo-solidario-footer-article, .olimpo-solidario-footer .contato-footer-article, .contato-footer .start-page-footer-article, .contato-footer .olimpo-solidario-footer-article, .contato-footer .contato-footer-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 4rem;
  padding: 2.2rem;
  margin-top: 0.5em;
  background-color: #F7F7F7;
  border-radius: 1.2em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px 4px #F7F7F7;
}
.start-page-footer .start-page-footer-article .start-page-footer-article-p, .start-page-footer .start-page-footer-article .olimpo-solidario-footer-article-p, .start-page-footer .start-page-footer-article .contato-footer-article-p, .start-page-footer .olimpo-solidario-footer-article .start-page-footer-article-p, .start-page-footer .olimpo-solidario-footer-article .olimpo-solidario-footer-article-p, .start-page-footer .olimpo-solidario-footer-article .contato-footer-article-p, .start-page-footer .contato-footer-article .start-page-footer-article-p, .start-page-footer .contato-footer-article .olimpo-solidario-footer-article-p, .start-page-footer .contato-footer-article .contato-footer-article-p, .olimpo-solidario-footer .start-page-footer-article .start-page-footer-article-p, .olimpo-solidario-footer .start-page-footer-article .olimpo-solidario-footer-article-p, .olimpo-solidario-footer .start-page-footer-article .contato-footer-article-p, .olimpo-solidario-footer .olimpo-solidario-footer-article .start-page-footer-article-p, .olimpo-solidario-footer .olimpo-solidario-footer-article .olimpo-solidario-footer-article-p, .olimpo-solidario-footer .olimpo-solidario-footer-article .contato-footer-article-p, .olimpo-solidario-footer .contato-footer-article .start-page-footer-article-p, .olimpo-solidario-footer .contato-footer-article .olimpo-solidario-footer-article-p, .olimpo-solidario-footer .contato-footer-article .contato-footer-article-p, .contato-footer .start-page-footer-article .start-page-footer-article-p, .contato-footer .start-page-footer-article .olimpo-solidario-footer-article-p, .contato-footer .start-page-footer-article .contato-footer-article-p, .contato-footer .olimpo-solidario-footer-article .start-page-footer-article-p, .contato-footer .olimpo-solidario-footer-article .olimpo-solidario-footer-article-p, .contato-footer .olimpo-solidario-footer-article .contato-footer-article-p, .contato-footer .contato-footer-article .start-page-footer-article-p, .contato-footer .contato-footer-article .olimpo-solidario-footer-article-p, .contato-footer .contato-footer-article .contato-footer-article-p {
  font: 1em "Noto Sans", sans-serif;
  font-weight: 400;
}
.start-page-footer .start-page-footer-article .start-page-footer-article-p span, .start-page-footer .start-page-footer-article .olimpo-solidario-footer-article-p span, .start-page-footer .start-page-footer-article .contato-footer-article-p span, .start-page-footer .olimpo-solidario-footer-article .start-page-footer-article-p span, .start-page-footer .olimpo-solidario-footer-article .olimpo-solidario-footer-article-p span, .start-page-footer .olimpo-solidario-footer-article .contato-footer-article-p span, .start-page-footer .contato-footer-article .start-page-footer-article-p span, .start-page-footer .contato-footer-article .olimpo-solidario-footer-article-p span, .start-page-footer .contato-footer-article .contato-footer-article-p span, .olimpo-solidario-footer .start-page-footer-article .start-page-footer-article-p span, .olimpo-solidario-footer .start-page-footer-article .olimpo-solidario-footer-article-p span, .olimpo-solidario-footer .start-page-footer-article .contato-footer-article-p span, .olimpo-solidario-footer .olimpo-solidario-footer-article .start-page-footer-article-p span, .olimpo-solidario-footer .olimpo-solidario-footer-article .olimpo-solidario-footer-article-p span, .olimpo-solidario-footer .olimpo-solidario-footer-article .contato-footer-article-p span, .olimpo-solidario-footer .contato-footer-article .start-page-footer-article-p span, .olimpo-solidario-footer .contato-footer-article .olimpo-solidario-footer-article-p span, .olimpo-solidario-footer .contato-footer-article .contato-footer-article-p span, .contato-footer .start-page-footer-article .start-page-footer-article-p span, .contato-footer .start-page-footer-article .olimpo-solidario-footer-article-p span, .contato-footer .start-page-footer-article .contato-footer-article-p span, .contato-footer .olimpo-solidario-footer-article .start-page-footer-article-p span, .contato-footer .olimpo-solidario-footer-article .olimpo-solidario-footer-article-p span, .contato-footer .olimpo-solidario-footer-article .contato-footer-article-p span, .contato-footer .contato-footer-article .start-page-footer-article-p span, .contato-footer .contato-footer-article .olimpo-solidario-footer-article-p span, .contato-footer .contato-footer-article .contato-footer-article-p span {
  color: #ea2f27;
}

/* Mobile Style for Start Page:
==============================================================================================*/
.start-page-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1f;
  grid-template-rows: 1f 1f 1f 1f 1f 1f;
  grid-template-areas: "startheader" "startsec1" "startsec2" "startsec3" "startsec4" "startfooter";
  justify-content: center;
  align-content: center;
  gap: 1em;
}
.start-page-container .start-page-main {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  row-gap: 0.5em;
}
.start-page-container .start-page-main .start-page-main-section {
  grid-area: startsec1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 95%;
  height: auto;
  border-radius: 1.2em;
  margin-top: 1em;
  row-gap: 1em;
}
.start-page-container .start-page-main .start-page-main-section .start-page-main-section-article1 {
  width: 100%;
  border-radius: 1.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: #F7F7F7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.start-page-container .start-page-main .start-page-main-section .start-page-main-section-article1 .start-page-main-section-article1-figure {
  border-radius: 1.2em;
}
.start-page-container .start-page-main .start-page-main-section .start-page-main-section-article1 .start-page-main-section-article1-figure .start-page-main-section-article1-figure-img {
  transform: scaleX(1.05);
  width: 15em;
  height: 15em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.start-page-container .start-page-main .start-page-main-section .start-page-main-section-article1 .start-page-main-section-article1-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-radius: 1.2em;
  text-align: center;
}
.start-page-container .start-page-main .start-page-main-section .start-page-main-section-article1 .start-page-main-section-article1-header .start-page-main-section-article1-header-h1 {
  text-align: center;
  font: 2.7rem "Montserrat", sans-serif;
  font-weight: 580;
}
.start-page-container .start-page-main .start-page-main-section .start-page-main-section-article1 .start-page-main-section-article1-header .start-page-main-section-article1-header-p {
  font: 1em "Noto Sans", sans-serif;
  font-weight: 401;
}
.start-page-container .start-page-main .start-page-main-section .start-page-main-section-article1 .start-page-main-section-article1-header .start-page-main-section-article1-header-span {
  font: 0.9em "Noto Sans", sans-serif;
}
.start-page-container .start-page-main .start-page-main-section .start-page-main-section-article2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: antiquewhite;
  width: 20em;
  height: auto;
  row-gap: 1em;
  margin-top: 1em;
  text-align: center;
  border-radius: 1.2em;
}
.start-page-container .start-page-main .start-page-main-section .start-page-main-section-article2 .article2-div {
  text-align: center;
  width: 100%;
  padding: 1.1rem;
  border-radius: 1.2em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px 4px #91EED7;
  background-color: #91EED7;
}
.start-page-container .start-page-main .start-page-main-section .start-page-main-section-article2 .start-page-main-section-article2-span .start-page-main-section-article2-span-a {
  color: #000000;
}
.start-page-container .start-page-main .start-page-main-section .start-page-main-section-figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 3em;
  height: 3em;
  border-radius: 1.2em;
  background-color: #F7F7F7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px 4px #F7F7F7;
}
.start-page-container .start-page-main .start-page-main-section .start-page-main-section-figure div .start-page-main-section-figure-down-icon {
  text-align: center;
}
.start-page-container .start-page-main .start-page-main-section2 {
  grid-area: startsec2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 95%;
  height: auto;
  border-radius: 1.2em;
  margin-top: 1em;
  gap: 1em;
}
.start-page-container .start-page-main .start-page-main-section2 .start-page-main-section2-article1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  height: 4em;
  text-align: center;
  background-color: #F7F7F7;
  border-radius: 1.2em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px 4px #F7F7F7;
}
.start-page-container .start-page-main .start-page-main-section2 .start-page-main-section2-article1 #meet-us {
  font: 1em Montserrat;
  font-weight: 400;
}
.start-page-container .start-page-main .start-page-main-section2 .start-page-main-section2-article1 #meet-us .start-page-main-section2-article1-meet-us-h2 {
  text-align: center;
}
.start-page-container .start-page-main .start-page-main-section2 .start-page-main-section2-article2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  background-color: #233144;
  border-radius: 1.2em;
  text-align: center;
}
.start-page-container .start-page-main .start-page-main-section2 .start-page-main-section2-article2 .start-page-main-section2-article1-div1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
}
.start-page-container .start-page-main .start-page-main-section2 .start-page-main-section2-article2 .start-page-main-section2-article1-div1 .figure-sidebyside {
  width: auto;
  height: inherit;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-align: center;
}
.start-page-container .start-page-main .start-page-main-section2 .start-page-main-section2-article2 .start-page-main-section2-article1-div2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
  padding: 1em;
}
.start-page-container .start-page-main .start-page-main-section2 .start-page-main-section2-article2 .start-page-main-section2-article1-div2 .start-page-main-section2-article1-div2-p {
  width: 80%;
  height: auto;
  color: #ffffff;
}
.start-page-container .start-page-main .start-page-main-section3 {
  grid-area: startsec3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 95%;
  height: auto;
  border-radius: 1.2em;
  margin-top: 1em;
  row-gap: 1em;
}
.start-page-container .start-page-main .start-page-main-section3 .start-page-main-section3-article1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  height: 4em;
  text-align: center;
  background-color: #F7F7F7;
  border-radius: 1.2em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px 4px #F7F7F7;
}
.start-page-container .start-page-main .start-page-main-section3 .start-page-main-section3-article1 #our-team {
  font: 1em Montserrat;
  font-weight: 400;
}
.start-page-container .start-page-main .start-page-main-section3 .start-page-main-section3-article1 #our-team .start-page-main-section3-article1-our-time-h2 {
  text-align: center;
}
.start-page-container .start-page-main .start-page-main-section3 .start-page-main-section3-article2 {
  display: grid;
  grid-template-columns: 1f;
  grid-row: 1f 1f 1f;
  grid-template-areas: "thirdcard thirdcard thirdcard" "firstcard firstcard firstcard" "secondcard secondcard secondcard";
  width: 100%;
  height: auto;
  justify-items: center;
  align-items: center;
}
.start-page-container .start-page-main .start-page-main-section4 {
  grid-area: startsec4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 95%;
  height: auto;
  border-radius: 1.2em;
  row-gap: 1em;
}
.start-page-container .start-page-main .start-page-main-section4 .start-page-main-section4-article1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  height: 4em;
  text-align: center;
  background-color: #F7F7F7;
  border-radius: 1.2em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px 4px #F7F7F7;
}
.start-page-container .start-page-main .start-page-main-section4 .start-page-main-section4-article1 #pricing {
  font: 1em Montserrat;
  font-weight: 400;
}
.start-page-container .start-page-main .start-page-main-section4 .start-page-main-section4-article1 #pricing .start-page-main-section4-article1-pricing-h2 {
  text-align: center;
}
.start-page-container .start-page-main .start-page-main-section4 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  height: 100%;
  padding: 2em;
  background-color: #F7F7F7;
  border-radius: 1.2em;
  margin-top: 1em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px 4px #F7F7F7;
}
.start-page-container .start-page-main .start-page-main-section4 div .start-page-main-section4-article2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
  width: 100%;
  height: auto;
}
.start-page-container .start-page-main .start-page-main-section4 div .start-page-main-section4-article2 .start-page-main-section4-article2-p {
  width: 80%;
}
.start-page-container .start-page-main .start-page-main-section4 div .start-page-main-section4-article2 .start-page-main-section4-article2-a {
  color: #000000;
}
.start-page-container .start-page-main .start-page-main-section4 div .start-page-main-section4-figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
  width: 100%;
  height: auto;
  display: none;
}

.mobile-header {
  width: 95%;
  height: 12em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.mobile-nav {
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  align-self: center;
  row-gap: 1em;
}
.mobile-nav a {
  text-transform: uppercase;
  text-decoration: none;
}

.mobile-links {
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  height: 70%;
  gap: 0.8em;
}

/* Desktop Style for Start Page:
==============================================================================================*/
@media only screen and (min-width: 700px) {
  .start-page-container .start-page-main .start-page-main-section2 .start-page-main-section2-article2 {
    height: 30em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-wrap: nowrap;
  }
  .start-page-container .start-page-main .start-page-main-section2 .start-page-main-section2-article2 .start-page-main-section2-article1-div1 {
    width: 40%;
  }
  .start-page-container .start-page-main .start-page-main-section2 .start-page-main-section2-article2 .start-page-main-section2-article1-div1 .figure-sidebyside {
    width: 85%;
  }
  .start-page-container .start-page-main .start-page-main-section2 .start-page-main-section2-article2 .start-page-main-section2-article1-div2 {
    width: 60%;
  }
  .start-page-container .start-page-main .start-page-main-section2 .start-page-main-section2-article2 .start-page-main-section2-article1-div2 .start-page-main-section2-article1-div2-p {
    width: 80%;
  }
  .start-page-container .start-page-main .start-page-main-section3 .start-page-main-section3-article2 {
    grid-template-columns: 1f 1f 1f;
    grid-row: 1f;
    grid-template-areas: "thirdcard firstcard secondcard";
    -moz-column-gap: 5%;
         column-gap: 5%;
    width: 100%;
  }
  .start-page-container .start-page-main .start-page-main-section3 .start-page-main-section3-article2 .start-page-profile-card1, .start-page-container .start-page-main .start-page-main-section3 .start-page-main-section3-article2 .start-page-profile-card2, .start-page-container .start-page-main .start-page-main-section3 .start-page-main-section3-article2 .start-page-profile-card3 {
    width: 100%;
    margin-top: 1em;
  }
  .start-page-container .start-page-main .start-page-main-section4 div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
  }
  .start-page-container .start-page-main .start-page-main-section4 div .start-page-main-section4-figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    width: 100%;
    height: auto;
  }
  .start-page-container .start-page-main .start-page-main-section4 div .start-page-main-section4-figure .start-page-main-section4-figure-img {
    width: 23em;
    height: 23em;
  }
}
/* Mobile Style for Login Page:
==============================================================================================*/
.login-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1f;
  grid-template-rows: 1f 1f 1f;
  grid-template-areas: "header" "mright" "mleft";
  justify-content: center;
  align-items: center;
  row-gap: 0.5em;
}
.login-container .login-page-header {
  grid-area: header;
  justify-self: center;
  align-self: center;
}
.login-container .login-page-header .login-page-logo-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 0.5em;
  padding: 0.3em;
  cursor: pointer;
}
.login-container .login-page-header .login-page-logo-div .logo-page-logo-olimpo-img {
  transform: scaleX(1.05);
  width: 4em;
  height: 4em;
}
.login-container .login-page-header .login-page-logo-div .logo-page-logo-olimpo-logomarca {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  font: 1.5rem "Montserrat", sans-serif;
  font-weight: 550;
}
.login-container .login-page-section-left {
  grid-area: mleft;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.login-container .login-page-section-left .login-page-div-image-girl {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.login-container .login-page-section-left .login-page-div-image-girl .login-page-sticker {
  width: 30%;
  height: 25%;
}
.login-container .login-page-section-left .login-page-div-phrase {
  padding-top: 0.5em;
}
.login-container .login-page-section-left .login-page-div-phrase .login-page-div-phrase-span {
  font: 0.9em "Noto Sans", sans-serif;
}
.login-container .login-page-section-right {
  grid-area: mright;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.login-container .login-page-section-right .login-page-div-box {
  display: flex;
  flex-direction: column;
}
.login-container .login-page-section-right .login-page-div-box .login-page-div-box-instructions {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-top: 1em;
}
.login-container .login-page-section-right .login-page-div-box .login-page-div-box-instructions .login-page-right-h2 {
  padding-left: 0.4em;
  margin-bottom: 0.5em;
  font-weight: bolder;
}
.login-container .login-page-section-right .login-page-div-box .login-page-div-box-instructions .login-page-right-p {
  padding-left: 0.6em;
  margin-bottom: 0.8em;
}
.login-container .login-page-section-right .login-page-div-box .login-page-div-box-inputs {
  display: flex;
  flex-direction: column;
}
.login-container .login-page-section-right .login-page-div-box .login-page-div-box-inputs .login-page-email-h4 {
  margin: 0 0 0 1em;
}
.login-container .login-page-section-right .login-page-div-box .login-page-div-box-inputs .login-page-input-email {
  width: 95%;
  height: 3em;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-radius: 0.5em;
  border-color: rgba(35, 48, 67, 0.2549019608);
}
.login-container .login-page-section-right .login-page-div-box .login-page-div-box-inputs .login-page-password-h4 {
  margin: 0.5em 0 0 1em;
}
.login-container .login-page-section-right .login-page-div-box .login-page-div-box-inputs .login-page-input-password {
  width: 95%;
  height: 3em;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-radius: 0.5em;
  border-color: rgba(35, 48, 67, 0.2549019608);
}
.login-container .login-page-section-right .login-page-div-box .login-page-button-enter {
  width: 95%;
  height: 3em;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-radius: 0.5em;
  border-color: rgba(158, 65, 80, 0.1215686275);
  background: #9E4151;
  color: #ffffff;
  font-weight: bold;
}

/* Desktop Style for Login Page:
==============================================================================================*/
@media only screen and (min-width: 700px) {
  .login-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1f 2f;
    grid-template-rows: 1f 2f;
    grid-template-areas: "header header" "mright mleft";
    justify-content: center;
    align-items: center;
    grid-auto-rows: 50%;
  }
  .login-container .login-page-header {
    grid-area: header;
    justify-self: start;
    align-self: start;
    grid-auto-rows: 60%;
  }
  .login-container .login-page-header .login-page-logo-div {
    display: flex;
    flex-direction: row;
  }
  .login-container .login-page-header .login-page-logo-div .logo-page-logo-olimpo-img {
    transform: scaleX(1.03);
    width: 4.5em;
    height: 4.5em;
  }
  .login-container .login-page-section-left {
    grid-area: mleft;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    grid-auto-rows: 60%;
    row-gap: 2.5em;
  }
  .login-container .login-page-section-left .login-page-div-image-girl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
  }
  .login-container .login-page-section-left .login-page-div-image-girl .login-page-sticker {
    width: 50%;
    height: 50%;
  }
  .login-container .login-page-section-right {
    grid-area: mright;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    grid-auto-rows: 60%;
  }
}
/* Mobile Style for Olimpo Solidario Page:
==============================================================================================*/
.olimpo-solidario-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1f;
  grid-template-rows: 1f 1f 1f;
  grid-template-areas: "osheader" "osmain" "osfooter";
  justify-content: center;
  align-content: center;
  gap: 1em;
}
.olimpo-solidario-container .olimpo-solidario-header {
  grid-area: osheader;
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-self: center;
}
.olimpo-solidario-container .olimpo-solidario-header .olimpo-solidario-header-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 0.5em;
  padding: 0.3em;
  cursor: pointer;
}
.olimpo-solidario-container .olimpo-solidario-header .olimpo-solidario-header-div .olimpo-solidario-header-div-img {
  transform: scale(1.15, 1.09);
}
.olimpo-solidario-container .olimpo-solidario-header .olimpo-solidario-header-div .header-img {
  width: 4em;
  height: 4em;
}
.olimpo-solidario-container .olimpo-solidario-header .olimpo-solidario-header-div .header-logomarca {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  font: 1.5rem "Montserrat", sans-serif;
  font-weight: 550;
}
.olimpo-solidario-container .olimpo-solidario-main {
  grid-area: osmain;
}
.olimpo-solidario-container .olimpo-solidario-footer {
  grid-area: osfooter;
}

/* Desktop Style for Olimpo Solidario Page:
==============================================================================================*/
/* Mobile Style for Login Page:
==============================================================================================*/
@media only screen and (min-width: 700px) {
  .popup {
    width: auto;
  }
}
/* Start Page Profile Cards:
=============================================================================================================*/
.start-page-main .start-page-main-section3 .start-page-main-section3-article2 .start-page-profile-card1, .start-page-main .start-page-main-section3 .start-page-main-section3-article2 .start-page-profile-card2, .start-page-main .start-page-main-section3 .start-page-main-section3-article2 .start-page-profile-card3 {
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding: 1em;
  width: 100%;
  height: 30em;
  border-radius: 1.2em;
  margin: 1em 0;
  background-color: #f4f4f4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px 4px #F7F7F7;
}
.start-page-main .start-page-main-section3 .start-page-main-section3-article2 .start-page-profile-card1 .start-page-profile-card-img, .start-page-main .start-page-main-section3 .start-page-main-section3-article2 .start-page-profile-card2 .start-page-profile-card-img, .start-page-main .start-page-main-section3 .start-page-main-section3-article2 .start-page-profile-card3 .start-page-profile-card-img {
  width: 10em;
  height: 10em;
}
.start-page-main .start-page-main-section3 .start-page-main-section3-article2 .start-page-profile-card1 {
  grid-area: firstcard;
}
.start-page-main .start-page-main-section3 .start-page-main-section3-article2 .start-page-profile-card2 {
  grid-area: secondcard;
}
.start-page-main .start-page-main-section3 .start-page-main-section3-article2 .start-page-profile-card3 {
  grid-area: thirdcard;
}

/* Common Styles:
==============================================================================================*/
html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFFFFF;
  font: 1em "Noto Sans", sans-serif;
  font-weight: 400;
  height: 100%;
  margin: 0;
  padding: 0;
}

.hide-content {
  display: none;
  width: 0;
  height: 0;
}/*# sourceMappingURL=app.css.map */