@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Noto+Sans:wght@400;500&display=swap");
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*Colors:
====================================================================*/
.start-page-main .start-page-main-section .start-page-main-section-figure div i {
  -webkit-animation: updown 2s ease infinite;
          animation: updown 2s ease infinite;
}
@-webkit-keyframes updown {
  0% {
    transform: translateY(-19%);
  }
  50% {
    transform: translateY(19%);
  }
  100% {
    transform: translateY(-19%);
  }
}
@keyframes updown {
  0% {
    transform: translateY(-19%);
  }
  50% {
    transform: translateY(19%);
  }
  100% {
    transform: translateY(-19%);
  }
}

/*Start page footer:
====================================================================*/
.start-page-footer {
  margin-bottom: 2rem;
}
.start-page-footer .start-page-footer-article {
  height: 4rem;
  background-color: #F7F7F7;
  border-radius: 1.2em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px 4px #F7F7F7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 2.2rem;
}
.start-page-footer .start-page-footer-article .start-page-footer-article-p {
  font: 1rem "Noto Sans", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 0.1rem;
}
.start-page-footer .start-page-footer-article .start-page-footer-article-p span {
  margin-inline: 0.3rem;
  color: #ea2f27;
}

/*Start page header:
====================================================================*/
.start-page-header {
  width: 93%;
  height: 5rem;
  margin: 1rem;
  background-color: #F7F7F7;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 1.2em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.start-page-header .start-page-header-nav {
  width: 82%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-inline: 0.5rem;
}
.start-page-header .start-page-header-nav .start-page-header-nav-ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
}
.start-page-header .start-page-header-nav .start-page-header-nav-ul .start-page-header-nav-ul-li .start-page-header-nav-ul-li-a {
  text-decoration: none;
  color: #000000;
  font: 1rem "Noto Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
}
.start-page-header .start-page-header-div1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.start-page-header .start-page-header-div1 .start-page-header-div1-button {
  width: 5rem;
  height: 2rem;
  border-radius: 1.8rem;
  background-color: #233144;
  font: 0.75rem "Noto Sans", sans-serif;
  font-weight: bold;
  border: none;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
}

/* Mobile Style:
===========================================================================*/
.login-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1f;
  grid-template-rows: 1f 1f 1f;
  grid-template-areas: "header" "mright" "mleft";
  justify-content: center;
  align-items: center;
  row-gap: 0.5em;
}
.login-container .login-page-header {
  grid-area: header;
  justify-self: center;
  align-self: center;
}
.login-container .login-page-header .login-page-logo-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 0.5em;
  padding: 0.3em;
  cursor: pointer;
}
.login-container .login-page-header .login-page-logo-div .logo-page-logo-olimpo-img {
  transform: scaleX(1.05);
  width: 4em;
  height: 4em;
}
.login-container .login-page-header .login-page-logo-div .logo-page-logo-olimpo-logomarca {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  font: 1.5rem "Montserrat", sans-serif;
}
.login-container .login-page-section-left {
  grid-area: mleft;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.login-container .login-page-section-left .login-page-div-image-girl {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.login-container .login-page-section-left .login-page-div-image-girl .login-page-sticker {
  width: 30%;
  height: 25%;
}
.login-container .login-page-section-left .login-page-div-phrase {
  padding-top: 0.5em;
}
.login-container .login-page-section-left .login-page-div-phrase .login-page-div-phrase-span {
  font: 0.75rem "Noto Sans", sans-serif;
}
.login-container .login-page-section-right {
  grid-area: mright;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.login-container .login-page-section-right .login-page-div-box {
  display: flex;
  flex-direction: column;
}
.login-container .login-page-section-right .login-page-div-box .login-page-div-box-instructions {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-top: 1em;
}
.login-container .login-page-section-right .login-page-div-box .login-page-div-box-instructions .login-page-right-h2 {
  padding-left: 0.4em;
  margin-bottom: 0.5em;
  font-weight: bolder;
}
.login-container .login-page-section-right .login-page-div-box .login-page-div-box-instructions .login-page-right-p {
  padding-left: 0.6em;
  margin-bottom: 0.8em;
}
.login-container .login-page-section-right .login-page-div-box .login-page-div-box-inputs {
  display: flex;
  flex-direction: column;
}
.login-container .login-page-section-right .login-page-div-box .login-page-div-box-inputs .login-page-email-h4 {
  margin: 0 0 0 1em;
}
.login-container .login-page-section-right .login-page-div-box .login-page-div-box-inputs .login-page-input-email {
  width: 95%;
  height: 3em;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-radius: 0.5em;
  border-color: rgba(35, 48, 67, 0.2549019608);
}
.login-container .login-page-section-right .login-page-div-box .login-page-div-box-inputs .login-page-password-h4 {
  margin: 0.5em 0 0 1em;
}
.login-container .login-page-section-right .login-page-div-box .login-page-div-box-inputs .login-page-input-password {
  width: 95%;
  height: 3em;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-radius: 0.5em;
  border-color: rgba(35, 48, 67, 0.2549019608);
}
.login-container .login-page-section-right .login-page-div-box .login-page-button-enter {
  width: 95%;
  height: 3em;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-radius: 0.5em;
  border-color: rgba(158, 65, 80, 0.1215686275);
  background: #9E4151;
  color: #ffffff;
  font-weight: bold;
}

@media only screen and (min-width: 700px) {
  .login-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1f 2f;
    grid-template-rows: 1f 2f;
    grid-template-areas: "header header" "mright mleft";
    justify-content: center;
    align-items: center;
    grid-auto-rows: 50%;
  }
  .login-container .login-page-header {
    grid-area: header;
    justify-self: start;
    align-self: start;
    grid-auto-rows: 60%;
  }
  .login-container .login-page-header .login-page-logo-div {
    display: flex;
    flex-direction: row;
  }
  .login-container .login-page-header .login-page-logo-div .logo-page-logo-olimpo-img {
    transform: scaleX(1.03);
    width: 4.5em;
    height: 4.5em;
  }
  .login-container .login-page-section-left {
    grid-area: mleft;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    grid-auto-rows: 60%;
    row-gap: 2.5em;
  }
  .login-container .login-page-section-left .login-page-div-image-girl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
  }
  .login-container .login-page-section-left .login-page-div-image-girl .login-page-sticker {
    width: 50%;
    height: 50%;
  }
  .login-container .login-page-section-right {
    grid-area: mright;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    grid-auto-rows: 60%;
  }
}
@media only screen and (max-width: 480px) {
  .start-page-main {
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
  }
}
.start-page-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 0.5rem;
}
.start-page-main .start-page-main-section {
  width: 91.5vw;
}
.start-page-main .start-page-main-section .start-page-main-section-article1 {
  height: 30rem;
  background-color: #F7F7F7;
  border-radius: 1.2em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.start-page-main .start-page-main-section .start-page-main-section-article1 .start-page-main-section-article1-figure .start-page-main-section-article1-figure-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  transform: scaleX(1.05);
  width: 15em;
  height: 15em;
}
.start-page-main .start-page-main-section .start-page-main-section-article1 .start-page-main-section-article1-header .start-page-main-section-article1-header-h1 {
  font: 3.6875rem "Montserrat", sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.start-page-main .start-page-main-section .start-page-main-section-article1 .start-page-main-section-article1-header .start-page-main-section-article1-header-p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  font: 1.1em "Noto Sans", sans-serif;
  font-weight: 450;
  text-align: center;
}
.start-page-main .start-page-main-section .start-page-main-section-article1 .start-page-main-section-article1-header .start-page-main-section-article1-header-span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  font: 0.95em "Noto Sans", sans-serif;
  font-weight: 400;
  text-align: center;
}
.start-page-main .start-page-main-section .start-page-main-section-article2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.start-page-main .start-page-main-section .start-page-main-section-article2 .article2-div {
  background-color: #91EED7;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 3rem 3rem 1.5rem 3rem;
  width: 22rem;
  padding: 1.1rem;
  align-items: center;
  text-align: center;
  border-radius: 1.2em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px 4px #91EED7;
}
.start-page-main .start-page-main-section .start-page-main-section-article2 .start-page-main-section-article2-span .start-page-main-section-article2-span-a {
  color: #000000;
}
.start-page-main .start-page-main-section .start-page-main-section-figure {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.start-page-main .start-page-main-section .start-page-main-section-figure div {
  background-color: #F7F7F7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px 4px #F7F7F7;
  width: 3rem;
  height: 3rem;
  text-align: center;
  border-radius: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.start-page-main .start-page-main-section .start-page-main-section-figure div .start-page-main-section-figure-down-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.start-page-main .start-page-main-section2 {
  width: 91.5vw;
  margin-top: 2rem;
}
.start-page-main .start-page-main-section2 .start-page-main-section2-article1 {
  height: 4rem;
  background-color: #F7F7F7;
  border-radius: 1.2em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px 4px #F7F7F7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.start-page-main .start-page-main-section2 .start-page-main-section2-article1 #meet-us .start-page-main-section2-article1-meet-us-h2 {
  font: 1.5rem "Montserrat", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.start-page-main .start-page-main-section2 .start-page-main-section2-article2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 3em 0 1em 0;
  background: #233144;
  flex-wrap: inherit;
  border-radius: 1.2em;
  height: auto;
}
.start-page-main .start-page-main-section2 .start-page-main-section2-article2 .start-page-main-section2-article1-div1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: inherit;
}
.start-page-main .start-page-main-section2 .start-page-main-section2-article2 .start-page-main-section2-article1-div1 .start-page-main-section2-article1-div1-figure {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: inherit;
  margin: 3em;
}
.start-page-main .start-page-main-section2 .start-page-main-section2-article2 .start-page-main-section2-article1-div1 .start-page-main-section2-article1-div1-figure .figure-sidebyside {
  width: auto;
  height: inherit;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.start-page-main .start-page-main-section2 .start-page-main-section2-article2 .start-page-main-section2-article1-div2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
  width: 65%;
  margin: 3rem;
}
.start-page-main .start-page-main-section2 .start-page-main-section2-article2 .start-page-main-section2-article1-div2 .start-page-main-section2-article1-div2-p {
  text-align: center;
  color: #ffffff;
  margin: 1em;
}
.start-page-main .start-page-main-section3 {
  width: 91.5vw;
  margin-top: 2rem;
}
.start-page-main .start-page-main-section3 .start-page-main-section3-article1 {
  height: 4rem;
  background-color: #F7F7F7;
  border-radius: 1.2em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px 4px #F7F7F7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.start-page-main .start-page-main-section3 .start-page-main-section3-article1 #our-team .start-page-main-section3-article1-our-time-h2 {
  font: 1.5rem "Montserrat", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.start-page-main .start-page-main-section3 .start-page-main-section3-article2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 2.5em 0 1em 0;
}
.start-page-main .start-page-main-section4 {
  width: 91.5vw;
  margin-top: 2rem;
}
.start-page-main .start-page-main-section4 .start-page-main-section4-article1 {
  height: 4rem;
  background-color: #F7F7F7;
  border-radius: 1.2em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px 4px #F7F7F7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.start-page-main .start-page-main-section4 .start-page-main-section4-article1 #pricing .start-page-main-section4-article1-pricing-h2 {
  font: 1.5rem "Montserrat", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.start-page-main .start-page-main-section4 div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 30rem;
  margin: 3em 0;
  background-color: #F7F7F7;
  border-radius: 1.2em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.start-page-main .start-page-main-section4 div .start-page-main-section4-article2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 3rem;
  width: 60%;
}
.start-page-main .start-page-main-section4 div .start-page-main-section4-article2 .start-page-main-section4-article2-figure .start-page-main-section4-article2-figure-img {
  text-align: center;
  margin: 0.5em 0;
  width: 10em;
  height: 10em;
}
.start-page-main .start-page-main-section4 div .start-page-main-section4-article2 .start-page-main-section4-article2-p {
  text-align: center;
  width: 70%;
}
.start-page-main .start-page-main-section4 div .start-page-main-section4-article2 .start-page-main-section4-article2-a {
  text-align: center;
}
.start-page-main .start-page-main-section4 div .start-page-main-section4-figure {
  width: 50%;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.start-page-main .start-page-main-section4 div .start-page-main-section4-figure .start-page-main-section4-figure-img {
  width: 20em;
  height: 20em;
}

.start-page-main-section3 .start-page-main-section3-article2 .start-page-profile-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 25em;
  height: 35em;
  margin: 2em;
  background-color: #F7F7F7;
  border-radius: 1.2em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px 4px #F7F7F7;
}
.start-page-main-section3 .start-page-main-section3-article2 .start-page-profile-card .start-page-profile-card-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  transform: scaleX(1);
  width: 10em;
  height: 10em;
}
.start-page-main-section3 .start-page-main-section3-article2 .start-page-profile-card .start-page-profile-card-h3 {
  text-align: center;
  margin: 1em 0;
}
.start-page-main-section3 .start-page-main-section3-article2 .start-page-profile-card .start-page-profile-card-span {
  text-align: center;
}
.start-page-main-section3 .start-page-main-section3-article2 .start-page-profile-card .start-page-profile-card-p {
  text-align: center;
  margin: 1em 2em;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-wrap: nowrap;
  background-color: #FFFFFF;
  font: 1rem "Noto Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=app.css.map */