@use "../abstracts/mixins";
@use "../abstracts/variables";
@use "../components/typography";

/*Start page header:
====================================================================*/
.start-page-header{
    width: 93%;
    height: 5rem;
    margin: 1rem;
    background-color: variables.$light-theme-second-bg-color;
    @include mixins.flex-row();
    justify-content: center;
    border-radius: 1.2em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    .start-page-header-nav{
        width: 82%;
        @include mixins.flex-row();
        justify-content: flex-start;
        margin-inline: 0.5rem;

        .start-page-header-nav-ul{
            @include mixins.flex-row();
            align-items: center;
            gap: 2em;
            
            .start-page-header-nav-ul-li{

                .start-page-header-nav-ul-li-a{
                    text-decoration: none;
                    color: variables.$light-theme-primary-color-black;
                    font: typography.$noto-sans-16;
                    //text-transform: uppercase;
                    //font-weight: bold;
                }
            }
        }
    }

    .start-page-header-div1{
        @include mixins.flex-row();
        justify-content: flex-end;
        align-items: center;

        .start-page-header-div1-button{
            width: 5rem;
            height: 2rem;
            border-radius: 1.8rem;
            background-color: variables.$light-theme-primary-color-dark-blue;
            font: typography.$noto-sans-12;
            font-weight: bold;
            border: none;
            color: typography.$light-theme-font-color;
            cursor: pointer;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
}