@use "../abstracts/mixins";
@use "../abstracts/variables";
@use "../components/typography";

/* Mobile Start Page Header:
====================================================================*/
.start-page-header{
    grid-area: startheader;
    @include mixins.flex-row();
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 95%;
    background-color: variables.$light-theme-second-bg-color;
    border-radius: 1.2em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-self: center;
    align-self: center;
    margin-top: 1.2em;

    .start-page-header-nav{
        @include mixins.flex-row();
        width: 50%;
        height: 5em;
        justify-content: flex-start;
        align-items: center;
        padding: 2em;

        .hamburguer{
            @include mixins.flex-row();
            @include mixins.flex-center();
        }

        .start-page-header-nav-ul{
            display: none;
            
            .start-page-header-nav-ul-li{

                .start-page-header-nav-ul-li-a{
                    text-decoration: none;
                    color: #000000;
                }
            }
        }
    }

    .start-page-header-div1{
        @include mixins.flex-row();
        width: 50%;
        height: 5em;
        justify-content: flex-end;
        align-items: center;
        padding: 2em;

        .start-page-header-div1-button{
            width: 6.5em;
            height: 3.5em;
            border-radius: 1.8rem;
            background-color: variables.$light-theme-primary-color-dark-blue;
            font: typography.$noto-sans-12;
            font-weight: bold;
            border: none;
            color: typography.$light-theme-font-color;
            cursor: pointer;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
            text-transform: uppercase;
        }
    }
}

/* Desktop Start Page Header:
====================================================================*/
@media only screen and (min-width: 700px) {
    .start-page-header{
        .start-page-header-nav{
            @include mixins.flex-row();
            width: 80%;
            height: 5em;
            justify-items: flex-start;
            align-items: center;

            #start-page-header-menu-hamburguer{
                display: none;
            }

            .start-page-header-nav-ul{
                @include mixins.flex-row();
                justify-content: space-around;
                gap: 1.3em;
                text-transform: uppercase;
            }
        }

        .start-page-header-div1{
                
            .start-page-header-div1-button{
                width: 6.5em;
            }
        }
    }
}