@use "../abstracts/variables";
/*
::-webkit-scrollbar{
    width: 0.5em;
    scroll-behavior: smooth;
}

::-webkit-scrollbar-track{
    background-color: variables.$light-theme-second-bg-color;
    padding: 0.5em;
}

::-webkit-scrollbar-thumb{
    background-color: variables.$light-theme-primary-color-dark-blue;
    border-radius: 1.2em;
    height: 30%;
    //margin: 0.01em;
}
*/